/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'DM Sans', sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

s1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-button {
  font-family: 'DM Sans', sans-serif;
  background-color: #CB1D45;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  transition: 0.3s;
  font-weight: 600;
}

.primary-button:hover {
  background-color:#EE597B;
  transition: 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  background-image: url("../public/logo.png");
  background-position: center, bottom left;
  background-size: cover, cover;
  height: 75vh;
  max-height: 540px;
  border-radius: 0px 0px 48px 48px;
}

.header-text {
  position: relative;
  width: 40%;
  text-align: left;
  left: 5%;
  top: 20%;
  transform: translateY(-20%, -5%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.description {
  background-image: url("../public/images/home1.png");
  background-position: bottom left;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

.description-text {
  position: relative;
  width: 40%;
  text-align: left;
  color: #343A3F;
  left: 55%;
  top: 40%;
  transform: translateY(-40%, -55%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.left-right-about {
  background-image: url("../public/images/aboutus.png");
  background-position: center left;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-color: #F4F4F4;
  border-radius: 48px;
  margin: 16px;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.left-right-contact {
  background-image: url("../public/images/contactus.png");
  background-position: center left;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-color: #F4F4F4;
  border-radius: 48px;
  margin: 16px;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.right-text {
  position: relative;
  width: 40%;
  text-align: left;
  color: #343A3F;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.cta {
  background-color: #343A3F;
  border-radius: 48px 48px 0px 0px;
}

.cta-text {
  position: relative;
  text-align: center;
  top: 40%;
  width: 60%;
  left:20%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.product-sec {
  background-color: #343A3F;
  border-radius: 48px 48px 48px 48px;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;  
  padding: 1rem;
  margin-left: auto;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 0px 24px;  
  padding: 1rem;
  margin-left: auto;
}

.products-content .dis {
  width: 50%;
  text-align: left;
  padding-left: 2%;
}
.product-item {
  display: flex; 
  flex-flow: column;
  color: #F4F4F4;
  background-color: #4D5358;
  border-radius: 48px;
  width: 30%;
  padding: 24px 24px;
  text-align: left;
}

.product-item:hover {
  background-color: #697077;
  transition: transform 250ms;
}

.product-item:hover .right-icon {
  filter:brightness(150%);
  transition: transform 300ms;
  transform: translateX(10px);
}

.product-item:hover s1 {
  color:#EE597B;
}

.products-item {
  display: flex; 
  flex-flow: column;
  color: #343A3F;
  background-color: #DDE1E6;
  border-radius: 48px;
  width: 30%;
  padding: 24px 24px;
  text-align: left;
}

.products-item:hover {
  background-color: #C1C7CD;
  transition: transform 250ms;
}

.products-item:hover .right-icon {
  filter:brightness(110%);
  transition: transform 300ms;
  transform: translateX(10px);
}

.products-item:hover s1 {
  color:#CB1D45;
  filter:brightness(110%);
}

.products-item > img {
  order: -1;  
  align-self: center; 
  width: 100%;
  border-radius: 24px;
}

.body {
  text-align: left;
  padding: 0px 16px;
}

.right-icon {
  margin-left: 16px;
	width: 24px;
	height: 24px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("../public/images/arrow-right.png");
}

.right-icon:hover {
  filter:brightness(150%);
  transition: transform 250ms;
  transform: translateX(10px);
}

.product-item > img {
  order: -1;  
  align-self: center; 
  width: 100%;
  border-radius: 24px;
}

.product-text {
  position: relative;
  text-align: center;
  color: #ffffff;
  top: 40%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.solution-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;  
  padding: 1rem;
  margin-left: auto;
}

.solution-item {
  display: flex; 
  flex-flow: column;
  color: #343A3F;
  background-color: #F4F4F4;
  border-radius: 48px;
  width: 45%;
  padding: 24px 24px;
}

.solution-item > img {
  order: -1;  
  align-self: center; 
  width: 100%;
}

.solution-text {
  position: relative;
  text-align: center;
  color: #343A3F;
  top: 40%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.xs-space{
  width: 100%;
}

.s-space{
  height: 16px;
  width: 100%;
}

.m-space{
  height: 24px;
  width: 100%;
}

.l-space{
  height: 40px;
  width: 100%;
}

.xl-space{
  height: 96px;
  width: 100%;
}

.search-input {
  padding: 15px;
  margin: 25px 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

hr {
  border-top: 1px solid #DDE1E6;
}


/* Footer Styles */
.footer {
  background-color: #F8F8F8;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 24px;
}

.footer-content {
  display: flex; 
  flex-flow: column;
  width: 23%;
  padding: 24px 24px;
  text-align: left;
  color: #343A3F;
  line-height: 1.5;
}

.title {
  text-align: center;
  margin: 25px 0;
}

.logo {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.app-subtitle {
  text-align: center;
  margin: 25px auto;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;  
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #DDE1E6;
}

.navbar-left {
  margin-left: 1%;
}

.navbar-right {
  margin-right: 1%;
  list-style-type: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.textlink {
  color:#141414;
  text-decoration: none;
  font-weight: 800;
  padding: 12px 16px;
}

.footerlink {
  color:#141414;
  text-decoration: none;
  font-weight: 800;
}

.footerlink:hover {
  font-weight: 800;
  color: #CB1D45;
  transition: 100ms;
}

.textlink:hover {
  font-weight: 800;
  color: #CB1D45;
  transition: 100ms;
  background-color: #ededed;
  border-radius: 8px;
}

.switch {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  width: 150px; /* Width large enough to fit the label text */
  height: 24px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider-label {
  color: #fff; 
  font-size: 12px; 
  width: 100%; 
  line-height: 24px; 
  transition: opacity 0.4s ease; 
}

input:checked + .slider:before {
  transform: translateX(125px); /* Move the circle to the other side */
}

input:checked + .slider {
  background-color: #FFA100;
}
