/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  background-color: #ffffff;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
}

b {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-button {
  font-family : "DM Sans", sans-serif;
  background-color: #cb1d45;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #ee597b;
  transition: 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.secondary-button {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f4f4;
  color: #cb1d45;
  border: 1px solid #cb1d45;
  padding: 8px 8px;
  text-align: center;
  display: inline-block;
  font-size: 14 px;
  border-radius: 16px;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #ffffff;
  filter:brightness(110%);
  transition: 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  background-image: url("../public/logo.png");
  background-position: center, bottom left;
  background-size: cover, cover;
  height: 75vh;
  max-height: 540px;
  border-radius: 0px 0px 48px 48px;
}

.header-text {
  position: relative;
  width: 40%;
  text-align: left;
  left: 5%;
  top: 20%;
  transform: translateY(-20%, -5%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.description {
  background-image: url("../public/images/home1.png");
  background-position: bottom left;
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100%; 
  display: flex; 
  align-items: center; 
}

.description-text {
  width: 40%;
  text-align: left;
  color: #343a3f;
  margin-left: 60%; 
  margin-right: 5%;
  padding: 16px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.left-right-about {
  width: 100%;                       
  display: flex;                    
  border-radius: 48px;
  margin: 16px;
}

.left-half {                        
  background-image: url("../public/images/aboutus.png");
  background-position: center;       
  background-size: cover;           
  background-repeat: no-repeat;      
  width: 50%;                        
  border-radius: 48px 0 0 48px;    
}

.right-half {                       /* New class for right half */
  width: 50%;                        /* Right half also takes 50% of the width */
  background-color: #f8f8f8;         /* Set background color for the right half */
  display: flex;                    /* Optional: to align content inside the right half */
  flex-direction: column;            /* Stack elements vertically */
  padding: 20px;  
  border-radius: 0 48px 48px 0; 
  margin-right: 2%;
}

.left-right-contact {
  width: 100%;                        /* Full width for the entire div */
  display: flex;                      /* Use flexbox for layout */
  border-radius: 48px;
  margin: 16px;
}

.left-half-contact {                        /* New class for left half */
  background-image: url("../public/images/contactus.png");
  background-position: center;        /* Center the image */
  background-size: cover;             /* Cover the area while maintaining aspect ratio */
  background-repeat: no-repeat;       /* No repetition of the image */
  width: 50%;                         /* Left half takes 50% of the width */
  border-radius: 48px 0 0 48px;      /* Rounded corners only on the left side */
}

.right-half-contact {                       /* New class for right half */
  width: 50%;                        /* Right half also takes 50% of the width */
  background-color: #f8f8f8;         /* Set background color for the right half */
  display: flex;                    /* Optional: to align content inside the right half */
  flex-direction: column;            /* Stack elements vertically */
  padding: 20px;                     
  border-radius: 0 48px 48px 0; 
  margin-right: 2%;
}

.right-text {
  position: relative;
  text-align: left;
  color: #343a3f;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 24px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.cta {
  background-color: #343a3f;
  border-radius: 48px 48px 0px 0px;
}

.cta-text {
  position: relative;
  text-align: center;
  top: 40%;
  width: 60%;
  left: 20%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.product-sec {
  background-color: #343a3f;
  border-radius: 48px 48px 48px 48px;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;
  padding: 1rem;
  margin-left: auto;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 24px;
  padding: 1rem;
}

.products-content .dis {
  width: 50%;
  text-align: left;
  padding-left: 2%;
}

.product-item {
  display: flex;
  flex-flow: column;
  color: #f4f4f4;
  background-color: #4d5358;
  border-radius: 48px;
  width: 30%;
  padding: 24px 24px;
  text-align: left;
  cursor: pointer;
}

.products-content b {
  display: inline-block;
}

.product-item:hover {
  background-color: #697077;
  transition: transform 250ms;
}

.product-item:hover .right-icon {
  filter: brightness(150%);
  transition: transform 300ms;
  transform: translateX(10px);
}

.product-item:hover s1 {
  color: #ee597b;
}

.products-item {
  display: flex;
  flex-flow: column;
  color: #343a3f;
  background-color: #dde1e6;
  border-radius: 48px;
  width: 30%;
  padding: 24px 24px;
  text-align: left;
  cursor: pointer;
}

.products-item:hover {
  background-color: #c1c7cd;
  transition: transform 250ms;
}

.products-item:hover .right-icon {
  filter: brightness(110%);
  transition: transform 300ms;
  transform: translateX(10px);
}

.products-item:hover b {
  color: #cb1d45;
  filter: brightness(110%);
}

.products-item > img {
  order: -1;
  align-self: center;
  width: 100%;
  border-radius: 24px;
}

.body {
  text-align: left;
  padding: 0px 16px;
}

.right-icon {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../public/images/arrow-right.png");
}

.right-icon:hover {
  filter: brightness(150%);
  transition: transform 250ms;
  transform: translateX(10px);
}

.product-item > img {
  order: -1;
  align-self: center;
  width: 100%;
  border-radius: 24px;
}

.product-text {
  position: relative;
  text-align: center;
  color: #ffffff;
  top: 40%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0;
}

.solution-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 24px;
  padding: 1rem;
  margin-left: auto;
}

.solution-item {
  display: flex;
  flex-flow: column;
  color: #343a3f;
  background-color: #f4f4f4;
  border-radius: 48px;
  width: 45%;
  padding: 24px 24px;
}

.solution-item > img {
  order: -1;
  align-self: center;
  width: 100%;
}

.solution-text {
  position: relative;
  text-align: center;
  color: #343a3f;
  top: 40%;
  transform: translateY(-40%, 0%);
  justify-content: space-between;
  flex-direction: column; 
}

.button-container {
  display: flex;
  gap: 16px; /* Adjust as needed for spacing */
  flex-wrap: wrap; /* Allows buttons to wrap if they overflow */
  justify-content: center;
}

.xs-space {
  width: 100%;
}

.s-space {
  height: 16px;
  width: 100%;
}

.m-space {
  height: 24px;
  width: 100%;
}

.l-space {
  height: 40px;
  width: 100%;
}

.xl-space {
  height: 96px;
  width: 100%;
}

.search-input {
  padding: 15px;
  margin: 25px 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #ccc;
}

.search-container {
  position: relative;
}

.search-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
  margin-left: 16px;
}

.search-icon:hover {
  filter: brightness(130%);
  transition: 300ms;
}

.search-form {
  position: relative;
  z-index: 1;
  margin-left: 16px;
}

.search-input1 {
  font-size: 14px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 24px;
  outline: none;
  transition: width 1s ease;
}

hr {
  border-top: 1px solid #dde1e6;
}

/* Footer Styles */
.footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 24px;
}

.footer-content {
  display: flex;
  flex-flow: column;
  width: 23%;
  padding: 24px 24px;
  text-align: left;
  color: #343a3f;
  line-height: 1.5;
}

.title {
  text-align: center;
  margin: 25px 0;
}

.logo {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: block;
}

.app-subtitle {
  text-align: center;
  margin: 25px auto;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar {
  position: sticky;
  height: 72px;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #dde1e6;
}

.navbar-left {
  margin-left: 1%;
}

.navbar-right {
  margin-right: 1%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.navbar-right ul {
  display: flex;
  align-items: center;
}

.textlink {
  color: #141414;
  text-decoration: none;
  font-weight: 800;
  padding: 12px 16px;
}

.d-textlink {
  color: #cb1d45;
  text-decoration: none;
  font-weight: 800;
  display: flex;
  justify-content: left;
  align-items: normal;
  margin-left: 24px;
  width: 10%;
  gap: 8px;
  cursor: pointer;
}

.d-textlink:hover {
  font-weight: 800;
  filter: brightness(110%);
  transition: 100ms;
  border-radius: 8px;
}

.right-text textarea {
  width: 100%;       
  height: 64px;     
  padding: 10px;      
  resize: none;       
}


.left-icon {
  height: 18px;
  width: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../public/images/arrow-left.png");
}

.d-textlink:hover .left-icon {
  transition: transform 250ms;
  transform: translateX(-10px);
}

.footerlink {
  color: #141414;
  text-decoration: none;
  font-weight: 800;
}

.footerlink:hover {
  font-weight: 800;
  color: #cb1d45;
  transition: 100ms;
}

.textlink:hover {
  font-weight: 800;
  color: #cb1d45;
  transition: 100ms;
  background-color: #ededed;
  border-radius: 8px;
}

.switch {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  width: 150px; /* Width large enough to fit the label text */
  height: 24px; /* Adjust height as needed */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141414;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.slider-label {
  color: #fff;
  font-size: 12px;
  width: 100%;
  line-height: 24px;
  transition: opacity 0.4s ease;
}

input:checked + .slider:before {
  transform: translateX(125px); /* Move the circle to the other side */
}

input:checked + .slider {
  background-color: #ffa100;
}

.d-header {
  display: flex;
  align-items: center;
  gap: 5%;
  margin: 2%;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 24px;
}

.d-header .left-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
  flex-direction: column;
  gap: 24px;
}

.d-header b {
  color: #cb1d45;
}

.d-header .right-image {
  flex: 1; 
  max-width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-header .right-image img {
  width: 100%;
  max-width: 800px;
  border-radius: 24px;
}

.d-section {
  display: flex;
  justify-content: space-between; 
  gap: 5px;
}

.d-section > div {
  flex: 1; 
  max-width: 30%;
  margin: 2%;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 24px;
}

.d-section h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 800;
  color: #cb1d45;
}

.d-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.d-section ul li {
  display: block;
  margin-bottom: 16px; 
  text-align: left;
}

.d-s {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 24px;
}

.d-s h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 800;
  color: #cb1d45;
  margin-left: 8px;
}

.d-s-img {
  display: flex;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.d-s-img img {
  flex: 1;
  height: auto;
  max-width: 50%;
}

.d-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 24px;
}

.d-p h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 800;
  color: #cb1d45;
  margin-left: 8px;
}

.d-p img {
  width: 100%; 
  height: auto;
  display: block; 
}

.d-p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 2%;
  padding: 3%;
  background-color: #ffffff;
  border-radius: 24px;
}

.d-p1 h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 800;
  color: #cb1d45;
  margin-left: 8px;
}

.d-p1 img {
  width: 50%;
  height: auto; 
  display: block; 
}

.d {
  background-color: #dde1e6;
  border-radius: 48px 48px 0px 0px;
}

.d h2 {
  text-align: left;
  margin-left: 5%;
}
